* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body * {
    border: 1px solid red;
} 

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 20px 80px;
}

.header_logo a{
    text-decoration: none;
}

.header_navigation {
    display: flex;
}

.header_items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.item {
    margin-left: 16px;
}

.section_banner {
    background-color: #f1f1f1;
    display: flex;
    height: 50vh;
    margin-bottom: 60px;
}

.banner_descripcion {
    width: 40%;
}

.banner_titulo {
    margin-bottom: 18px;
}

.banner_parrafo_uno {
    margin-bottom: 15px;
}

.banner_button {
    background-color: #f99640;
    border-radius: 5px;
    padding: 5px 12px;
    color: white;
    margin-top: 200px;
}

.banner_figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 60%;
}

.container_cards {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.container_titulo {
    margin-bottom: 16px;
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    width: 30%;
} 

.card_button {
    background-color: #f99640;
    border-radius: 5px;
    padding: 5px 12px;
    color: white;
}

.imagen_logo {
    width: 100%;
}