:root {
    --white: #f1f1f1;
    --black: #000;
    --orange: #f99640;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 20px 80px;
}

.header__navigation {
    display: flex;
}

.header__navigation__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: var(--white);
}

.header__navigation__item {
    margin-left: 16px;
}

.banner {
    background-color: var(--white);
    border: 1px solid yellow;
    display: flex;
    height: 50vh;
    margin-bottom: 60px;
}

.banner__descripcion {
    border: 1px solid red;
    width: 40%;
}

.banner__parrafo__uno {
    margin-bottom: 15px;
}

.banner__button {
    background-color: var(--orange);
    border-radius: 5px;
    padding: 5px 12px;
    color: var(--white);
    margin-top: 80px;
    border: none;
}

.banner__figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 60%;
}

.cards {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.cards__titulo {
    margin-bottom: 24px;
}

.cards__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    width: 30%;
} 

.card__titulo {
    margin-bottom: 12px;
}

.card__parrafo {
    margin-bottom: 18px;
}

.card__button {
    background-color: var(--orange);
    border-radius: 5px;
    padding: 5px 12px;
    /* padding: 20px 12px; */
    color: var(--white);
    border: none;
}

.card__logo {
    width: 100%;
    margin-bottom: 14px;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 80px;
    background-color: #2f2f2f;
}

.latestPost__container {
    /* justify-content: space-around; */
}

.latest-post__items {
    display: flex;
    margin-bottom: 12px;
}

.latest-post__descripcion {
    color: var(--white);
}

.latest-post__fecha {
    background-color: var(--white);
    border-radius: 2px;
    text-align: center;
    padding: 5px;
    margin-right: 10px;
}

.about__parrafo {
    color: var(--white);
}

.stay-connected__logo {
    width: 40px;
    height: 40px;
}

.latest-post__titulo--modified, .about__titulo--modified, .stay-connected__titulo--modified {
    margin-bottom: 18px;
    margin-top: 20px;
    color: var(--white);
}

.latest-post__descripcion__titulo {
    margin-bottom: 5px;
}

.stay-connected__item {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.stay-connected__logo {
    margin-bottom: 10px;
    margin-right: 2px;
}

.stay-connected__texto {
    color: var(--white);
}

.copyright {
    color: var(--black);
    text-align: center;
    padding: 30px;
}